.div-container{
    display: flex;
    margin: 0%;
}

.body-div1{
    background-color: gray;
    text-align: center;
    padding: 2px;
}
.body-div2{
    text-align: center;
    padding: 2px;
}