body{
    background-color: rgb(246, 234, 234);
}

.c1{
    text-align: center;
    color: brown;
    font-family: cursive;
    text-shadow: 1px 1px;
}
button{
    color: brown;
    background-color: burlywood;
    font-family: cursive;
    text-shadow: 1px 1px;
    padding: 2px 2px 2px 2px;
}
a{
    text-decoration: none;
    color: brown;
}